<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384622937823-v3r4vufu6c27hrlhuq67ppj6u2bflpls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384622937823-v3r4vufu6c27hrlhuq67ppj6u2bflpls</string>
	<key>API_KEY</key>
	<string>AIzaSyBx-_Zh5JlFVJ3krgMRtiDodqXsHcQpVF4</string>
	<key>GCM_SENDER_ID</key>
	<string>384622937823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.paramedic</string>
	<key>PROJECT_ID</key>
	<string>paramedic-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>paramedic-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384622937823:ios:7f6e2b8f049fdee87a4b6a</string>
</dict>
</plist>